In [1]:
import pandas as pd

In [2]:
# Reading a CSV file with custom quoting rules
df = pd.read_csv("country-capital-lat-long-population.csv", delimiter=",")

In [3]:
df.head()

,Country,Capital City,Latitude,Longitude,Population,Capital Type
0,Afghanistan,Kabul,34.5289,69.1725,4011770,Capital
1,Albania,Tiranë (Tirana),41.3275,19.8189,475577,Capital
2,Algeria,El Djazaïr (Algiers),36.7525,3.0420,2693542,Capital
3,American Samoa,Pago Pago,-14.2781,-170.7025,48526,Capital
4,Andorra,Andorra la Vella,42.5078,1.5211,22614,Capital

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       234 non-null    object
 1   Capital City  234 non-null    object
 2   Latitude      234 non-null    float64
 3   Longitude     234 non-null    float64
 4   Population    234 non-null    int64
 5   Capital Type  234 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 11.1+ KB

In [6]:
df.shape

(234, 6)